
.award-wrapper{
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.601),
    rgba(0, 0, 0, 0.601)
  ),
  url("./awardbg.png");
  height: 500px;
  background-repeat: no-repeat;
  padding-top: 50px;
  background-attachment: fixed;
}
.awardCard{
  border-bottom:1px solid brown;
  background-color: #fff;
  padding: 5px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .awardCard{
    margin-top: 20px;
  }
  .award-wrapper{
    height: 100%;
    padding-bottom: 20px;
  }
  
  
}

